name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push-docker-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . --tag qqanly/persona-learn-front:latest

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u qqanly --password-stdin

      - name: Push to Docker Hub
        run: docker push qqanly/persona-learn-front:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push-docker-image
    steps:
      - name: Deploy to Server using Docker Compose
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd persona-learn
            echo "Pulling latest Docker image..."
            docker pull qqanly/persona-learn-front:latest
            

            echo "Stopping and removing old containers..."
            docker compose stop persona-learn-front
            docker compose rm -f persona-learn-front
            
            echo "Starting up containers with Docker Compose..."
            docker compose up -d persona-learn-front
            
            echo "Cleaning up unused Docker images..."
            docker image prune -af  
            
            
            echo "Deployment completed!"
      
